@import '../../common.scss';

.standard-button-old {
  background-color: $primary-color-dark;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: small;
  border-radius: 0.6rem;
  text-align: center;
  transition: background 0.8s;
  background-position: center;
  // text-transform: capitalize;
  min-height: 2rem;
  // padding-right: 0.5rem;

  &:focus {
    outline: none;
  }

  &:hover {
    background:$primary-color-dark radial-gradient(circle, transparent 1%, #4e4c66 1%) center/15000%;
    cursor: pointer;
  }

  &:active {
    background-color:$primary-color-light;
    background-size: 100%;
    transition: background 0s;
  }

  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: auto;
  }
}

.icon {
  display: flex;
  margin: 0 0.5rem;
}

.standard-button {
  color: white;
  background: $primary-color-dark;
  // font-family: $nav-font;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  font-size: 16px;
  transition: 0.3s;  
  border: 1px solid $primary-color-dark;
}

.standard-button:hover {
  color: $primary-color-dark;
  background: $primary-color-light;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
  // transform: translateX(5px);
}

.standard-button-outlined {
  @extend .standard-button;
  background-color: #fff;
  color: $primary-color-dark;
  border: 1px solid $primary-color-dark;

  &:hover {
    background: #f8f8f8 radial-gradient(circle, transparent 1%, #f8f8f8 1%) center/15000%;
  }

  &:active {
    background-color: #9e99fc;
    background-size: 100%;
    transition: background 0s;
  }
}


