@import '../../common.scss';

.logo {
  top: 0;
  display: flex;
  flex-direction: column;
  height: 50px;
  cursor: pointer;
  p {
    font-family: $header-font;
    color: $primary-color-dark;
  }
  & > img {
    height: 30px;
    width: 130px;
    margin: 0;
  }
}
