@import '../../common.scss';

.logo {
  display: flex;
  cursor: pointer;
  p {
    font-family: $header-font;
    color: $primary-color-dark;
  }
  & > img {
    height: 50px;
    width: 150px;
    margin: 0.5rem;
  }
}
