@import '../../common.scss';


.section {
  color: $primary-color-dark;
  padding: 60px 0;
  overflow: clip;
}

.featured-services .service-item {
    padding: 20px 30px;
    transition: all ease-in-out 0.4s;
    height: 100%;
  }
  
  .featured-services .service-item .icon {
    margin-bottom: 10px;
    color: $secondary-color-dark;
  }
  
  .featured-services .service-item .icon i {
    color: $secondary-color-dark;
    font-size: 48px;
    transition: 0.3s;
  }
  
  .featured-services .service-item h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .featured-services .service-item h4 a {
    color: $heading-color;
    transition: ease-in-out 0.3s;    
  }
  
  .featured-services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .featured-services .service-item:hover {
    transform: translateY(-10px);
    background-color: $primary-color-light;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
  }
  
  .featured-services .service-item:hover h4 a {
    color: $accent-color;
  }
  