@import '../../common.scss';

.section-title {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  color: #716cb2;
  
  h2{
    font-size: 2.5rem;
  }
}

.contact .info {
  // background-color: var(--surface-color);
  padding: 40px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.contact .info h3 {
  font-weight: 600;
  font-size: 24px;
}

.contact .info p {
  // color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin-bottom: 30px;
  font-size: 15px;
}

.contact .info-item+.info-item {
  padding-top: 20px;
  margin-top: 20px;
  // border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.contact .info-item i {
  font-size: 24px;
  color: $accent-color;
  transition: all 0.3s ease-in-out;
  margin-right: 20px;
}

.contact .info-item h4 {
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: color-mix(in srgb, $default-color, transparent 40%);
}

.contact .email-form {
  width: 100%;
}

.contact .email-form .form-group {
  padding-bottom: 8px;
}

.contact .email-form input[type=text],
.contact .email-form input[type=email],
.contact .email-form textarea {
  border-radius: 0px;
  box-shadow: none;
  font-size: 14px;
  // background-color: color-mix(in srgb, var(--background-color), transparent 50%);
  // border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .email-form input[type=text]:focus,
.contact .email-form input[type=email]:focus,
.contact .email-form textarea:focus {
  border-color: $accent-color;
}

.contact .email-form input[type=text],
.contact .email-form input[type=email] {
  height: 48px;
  padding: 10px 15px;
}

.contact .email-form textarea {
  padding: 10px 12px;
  height: 290px;
}


.contact .send-email-btn {
  @include app-btn();
}


.email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.email-form .loading {
  display: none;
  background: var(--surface-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent-color);
  border-top-color: var(--surface-color);
  animation: php-email-form-loading 1s linear infinite;
}

@keyframes email-form-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}