@import '../../common.scss';

.header-bar {
  @include background-color();
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  .header-title {
    word-break: break-word;
  }

  .header-subtitle {
    margin-top: 0rem;
    font-family: Pacifico, Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    font-style: italic;
    color: #3a3768;
    align-items: center;
    text-align: center;
  }

}