@import '../../common.scss';

.user-page {
  min-height: 100vh;
  padding-top: 100px; // Extra padding as placeholder for navbar
  margin: 100px 1rem;
  display: flex;
  flex-direction: column;
  .main-header {
    @include standard-header();
    font-family: $header-font;
    font-size: 5rem;
  }
  .subtitle {
    @include center-horizontally();
    @include text-color();
    font-weight: 800;
    margin: 1rem;
    font-size: x-large;
  }
  .description {
    @include center-horizontally();
    @include text-color();
    margin: 2rem;
    font-size: larger;
  }
  svg {
    // global margin of 1 rem set. Setting negative margin to fill till the edge
    margin: 0 -1rem;
  }
}

// .main-container div{
//   border:  1px solid red;
// }

.main-container {
  max-width: 100%;
  margin: 100px 20px;
  // padding: 20px;
  // text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  @media screen and (max-width: 550px) {
    margin: 2rem;
  }

  
}

.header {
  @include queue-name-header();
  margin-top: 0;
}

.notification-container {
  margin-top: 12rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .info-icon {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #3a3768;
  }

  span {
    padding-right: 8px;
  }

  .switch-thumb {
    width: 12;
    height: 12;
    box-shadow: 'none';
  }
}




.queue-view-list {
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding: 0;
}

.queue-view-list li{
  text-align: left;
}

.queue-view-item {
  font-size: 24px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.queue-view-item:nth-child(-n+20) {
  font-size: 32px;
  font-weight: bold;
}

