@import '../../common.scss';

.formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
 
  .formItem {
    margin: 0.5rem 0.5rem;
  }
  
  .formBoxVertical {
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .vertical-buttons {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .formButtonsSpace {
    width: 1rem;
  }
  
  .stepTopSpace {
    padding-top: 1.5rem;
  }
}


