// @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

$default-color: Black;
$primary-color-dark: #4a3768;
$primary-color-light: #c7b4f529;
$secondary-color-dark: #f3b275ab;
$secondary-color-light: #f5decb7c;

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
$background-color: #f8f0e6; /* Background color for the entire website, including individual sections */
$heading-color: #012970; /* Color for headings, subheadings and title throughout the website */
$accent-color: $primary-color-dark; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
$surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
$contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
$nav-color: #012970;  /* The default color of the main navmenu links */

/* Fonts */
$default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$heading-font: "Nunito",  sans-serif;
$nav-font: "Poppins",  sans-serif;
$logo-font:"Bangers", system-ui;
$header-font: 'Pacifico', Regular;

* {
  box-sizing: border-box;
}

@mixin center-horizontally {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}

@mixin center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

@mixin background-color {
  background-color: $primary-color-light;
}

@mixin text-color {
  color: $primary-color-dark;
}

@mixin standard-header {
  @include text-color();
  text-align: center;
}

@mixin queue-name-header {
  @include standard-header();
  @include background-color();
  padding: 2rem;
  font-size: 2rem;
}

@mixin box-border {
  border: 1px solid $primary-color-dark;
  border-radius: 0.5rem;
}

@mixin naked-button {
  font: inherit;
  font-weight: 400;
  background: none;
  border: 0;
  color: inherit;
  outline: inherit;
  padding: 0;
  cursor: pointer;
  transition: background 300ms ease-in-out;

  &:hover {
    background: $primary-color-light;
  }
}


@mixin app-btn {
  background-color: $primary-color-dark;
  color: white;

  &:hover {
    background-color: $primary-color-light;
    color:$primary-color-dark
  }
}


@mixin error-message{
  color: red;
}