@import '~bootstrap/scss/bootstrap';
@import '../../common.scss';

// * {
//   border: 1px solid red;
// }

// .left-nav-container {
//   // border: 1px solid red;
//   display: flex;
//   height: 80px;
//   width: 100%;
//   justify-content: space-between;
//   background-color: $primary-color-light;
//   transition: all 0.5s;
//   z-index: 997;

//   .nav {
//     // border: 1px solid red;
//     display: flex;
//     justify-content: center;
//     font-family: $header-font;
//     font-size: 1.5rem;
//   }


//   & .btn-stack {
//     padding: 0 10px 0 10px;
//     position: absolute;
//     right: 100px;

//     & .guest-btn {
//       background-color: $primary-color-dark;
//     }
//   }
// }

// .left-nav {
//   color: $primary-color-dark;
//   list-style: none;
//   display: flex;
//   justify-content: center;
//   margin-left: 10px;

//   // top: 1.4rem;
//   li {
//     padding: 0 4.5rem;
//   }

//   // Login Button
//   li:last-child {
//     position: fixed;
//     height: min-content;

//     button {
//       background-color: white;
//     }

//     // In case of smaller screens with sidebar, display at the bottom of sidebar
//     @media (max-width: 787px) {
//       bottom: 1rem;
//     }

//     @media (min-width: 787px) {
//       // In case of navbar on larger screens, display at top right of nav
//       top: 0.5rem;
//       right: 0rem;
//     }
//   }

//   a {
//     text-decoration: none;
//     color: grey;
//     cursor: pointer;
//   }

//   @media (max-width: 768px) {
//     flex-flow: column nowrap;
//     background-color: #3a3768;
//     position: fixed;
//     top: 0;
//     right: 0;
//     height: 100vh;
//     width: 15rem;
//     padding-top: 3.5rem;
//     transition: transform 0.3s ease-in-out;
//     left: auto;
//     opacity: 0;

//     li {
//       padding: 1.5rem 0;
//     }

//     a {
//       color: #fff;
//     }

//     transform: translateX(100%);

//     &[open] {
//       opacity: 1;
//       transform: translateX(0);
//     }
//   }
// }

// .left-nav-overlay {
//   display: none;

//   @media (max-width: 768px) {
//     &[open] {
//       display: block;
//       height: 100vh;
//       width: 100vw;
//       position: fixed;
//       top: 0;
//       left: 0;
//       background: rgba(0, 0, 0, 0.5);
//     }
//   }
// }


.navmenu {
  padding: 0;
  background: transparent;

  .navmenu-item {
    white-space: nowrap;
    padding: 5px 15px;
    font-size: 18px;
    font-family: $nav-font;

    color: $primary-color-dark;
  }

  .nav-link.active{
    color: $secondary-color-dark !important;
  border-bottom: 1px solid $secondary-color-dark;
  }

}

.nav-link.active {
  color: $secondary-color-dark !important;
  border-bottom: 1px solid $secondary-color-dark;
}


.logo {
  // line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo img {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.logo h6 {
  font-size: 18px;
  margin: 0;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 1px;
  color: $primary-color-dark;
  font-family: $logo-font;
}

.btn-stack {
  padding: 0;
  color: $primary-color-dark;
  // position: absolute; 
  // right: 100px;

  & .guest-btn {
    background-color: $primary-color-dark;
    //text-transform: capitalize;
  }

  & .guest-btn:hover {
    background-color: $primary-color-light;
    color: $primary-color-dark;
  }
}