@import '../../common.scss';
// @import '~bootstrap/scss/bootstrap';

.footer {
  @include text-color();
  // border: 1px solid red;
  background-color: $primary-color-light;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 14px;
  padding: 30px 30px 0px;
  position: relative;
  margin-top: 2rem;

  & .social-links {
    // border: 1px solid red;
    padding-left: 0;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      // background-color: color-mix(in srgb, $accent-color, transparent 97%);
      border: 1px solid color-mix(in srgb, $accent-color, transparent 65%);
      font-size: 26px;
      color: $accent-color;
      margin-right: 5px;
      transition: 0.3s;

      &:hover {
        color: white;
        background-color: $accent-color;
      }
    }
  }

  & h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }

  & .footer-links {
    margin-bottom: 30px;
  }

  & .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & .footer-links ul i {
    margin-right: 3px;
    font-size: 12px;
    line-height: 0;
    color: $accent-color;
  }

  & .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  & .footer-links ul li:first-child {
    padding-top: 0;
  }

  & .footer-links ul a {
    display: inline-block;
    color: color-mix(in srgb, &default-color, transparent 20%);
    line-height: 1;
  }

  & .footer-links ul a:hover {
    color: $accent-color;
  }

  & .footer-about .sitename {
    color: $primary-color-dark;
    font-size: 28px;
    font-weight: 400;
    font-family: $logo-font;
  }

  & .footer-contact p {
    margin-bottom: 5px;
  }

  & .copyright {
    @include center-vertically;
    padding-top: 25px;
    border-top: 1px solid rbg($primary-color-dark, transparent 10%);
  }

  & .copyright p {
    @include center-vertically;
    margin-bottom: 0;
  }
}