/* src/QueueView.css */

.queue-view-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .queue-view-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .wait-time {
    font-size: 24px;
    color: #ff5722;
    margin-bottom: 30px;
  }
  
  .queue-view-list {
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding: 0;
  }

  .queue-view-list li{
    text-align: left;
  }
  
  .queue-view-item {
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .queue-view-item:nth-child(-n+20) {
    font-size: 32px;
    font-weight: bold;
  }
  